@use './utils/vars' as *;
@import './utils/globals';
@import './components/header';
@import './components/logo';
@import './components/first-section';
@import './components/second-section';
@import './components/third-section';
@import './components/fourth-section';
@import './components/our-customers';
@import './components/projects';
@import './components/footer';
@import './components/modal';
