.first-section {
    background-color: $dark-bg;
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/back-ground-1.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    fill-opacity: 0.6;
    margin: 0 auto;
    color: $white;
    text-align: center;
    &__title {
        margin: 0 auto;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4em;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        line-height: 1.3636;
        max-width: 700px;
    }
    &__btn {
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
        width: 200px;
        height: 50px;
        border-radius: 5px;
        border: 0px;
        background-color: $primary-color;
        color: $white;
        margin-top: 30px;
        cursor: pointer;
        font-weight: 700;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px 0px #00000026;
    }
}
