.fourth-section {
    background-color: $team-bg;
    margin: auto 0;

    &__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        max-width: 320px;
        flex-wrap: nowrap;
        gap: 30px;
        margin: 0 auto;
        @include tablet {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 768px;
            margin: 0 auto;
        }
        @include desktop {
            max-width: 1200px;
        }
    }
    &__card {
        max-width: 450px;
        height: auto;
        width: 100%;
        background-color: $white;
        border-radius: 4px;
        box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
            0px 1px 3px 0px #0000001f;
        @include tablet {
            max-width: 354px;
        }
        @include desktop {
            max-width: 270px;
        }
    }
    &__fullname {
        padding: 30px 99px 5px 99px;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
    }
    &__job-name {
        padding-bottom: 16px;
        font-size: 16px;
        color: $light-gray;
        display: flex;
        justify-content: center;
    }
    &__svg-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-bottom: 16px;
        fill: currentColor;
    }
    &__social-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        fill: #afb1b8;
        border-radius: 50%;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__social-icon:hover,
    &__social-icon:focus {
        fill: white;
        background-color: $primary-color;
    }
    &__img {
        height: auto;
        width: 100%;
    }
}
