.header {
    border-bottom: 1px solid #ececec;
    padding-top: 24px;
    padding-bottom: 25px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav-list {
        display: flex;
        justify-content: space-between;
        gap: 46px;
    }

    &__nav-link {
        font-size: 14px;
        position: relative;
        font-weight: 500;
        line-height: 16px;
        color: $dark-gray;
        list-style-type: none;
        text-decoration: none;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &--active {
            color: $primary-color;
            font-weight: 500;
            text-decoration: none;
            &::after {
                content: '';
                position: absolute;
                top: 45px;
                left: 0px;
                width: 100%;
                height: 4px;
                background-color: $primary-color;
                border-radius: 2px;
            }
        }

        &:is(:hover, :focus) {
            color: $primary-color;
        }

        &:is(:hover, :focus)::after {
            content: '';
            position: absolute;
            top: 45px;
            left: 0px;
            width: 100%;
            height: 4px;
            background-color: $primary-color;
            border-radius: 2px;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__contacts-item {
        color: $light-gray;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1.17;
        fill: currentColor;

        &:is(:hover, :focus) {
            color: $primary-color;
        }
    }

    &__contacts-item-icon {
        margin-right: 10px;
    }
}
