.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000033;
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms ease, visibility 250ms ease;
}

.is-hidden .modal {
    transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg)
        skew(40deg, 40deg);
}

.modal {
    position: relative;
    width: 528px;
    min-height: 581px;
    background-color: $white;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
    transform: translate(0, 0), scale(1) rotate(0deg) skew(0, 0);
    transition: all 250ms ease;

    &__btn-exit {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: $white;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__form {
        display: flex;
        flex-direction: column;
        padding: 12px 40px 31px 40px;
        background-color: inherit;
    }
    &__h3 {
        padding: 40px 40px 0px 40px;
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0.03em;
        text-align: center;
    }
    &__label {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        text-align: left;
        color: $light-gray;
        margin-bottom: 4px;
        margin-top: 10px;
    }
    &__input {
        width: 100%;
        font-size: 12px;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding: 14px 0 14px 42px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__input-wrapper {
        position: relative;
    }
    &__textarea {
        width: 448px;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        margin-bottom: 20px;
        color: $light-gray;
        padding: 12px 16px 12px 16px;
        outline: none;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.01em;
        text-align: left;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__textarea:focus {
        border-color: $primary-color;
    }
    &__btn {
        width: 200px;
        height: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        background-color: $primary-color;
        margin: 0 auto;
        border: 0px;
        color: $white;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.9;
        letter-spacing: 0.06em;
    }
    &__terms {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-bottom: 30px;
        color: $light-gray;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    }
    &__terms-link {
        color: $primary-color;
    }
    &__checkbox {
        display: none;
    }
    &__checkbox-border {
        position: relative;
        border: 1px solid #212121;
        width: 16px;
        height: 15px;
        border-radius: 2px;
    }
    &__checkbox-svg {
        position: absolute;
        top: -1px;
        left: -1px;
        opacity: 0;
        cursor: pointer;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__input:focus {
        border-color: $primary-color;
        outline: none;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__checkbox-svg:checked + &__checkbox-border {
        border-color: $primary-color;
    }
    &__checkbox:checked + &__checkbox-border > &__checkbox-svg {
        opacity: 1;
    }
    &__input:focus + svg {
        fill: $primary-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__input-wrapper > svg {
        position: absolute;
        top: 11px;
        left: 12px;
    }
}
