.projects {
    margin-top: 94px;
    margin-bottom: 94px;
    &__btns-list {
        display: flex;
        justify-content: center;
    }
    &__btn {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: $dark-gray;
        background-color: $team-bg;
        cursor: pointer;
        border: none;
        padding: 6px 22px;
        border-radius: 4px;
        margin: 0 5px 50px 5px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__btn:hover,
    &__btn:focus {
        color: $white;
        background-color: $primary-color;
        box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
            0px 3px 1px 0px #0000001a;
    }
    &__items-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__items-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__pictures {
        position: relative;
        width: 370px;
        height: 274px;
        overflow: hidden;
    }
    &__item:hover &__description-hidden {
        transform: translateY(0);
    }

    &__description-hidden {
        position: absolute;
        display: flex;
        align-items: center;
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(100%);
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        top: 0;
        left: 0;
        padding: 49px 45px 49px 24px;
        width: 100%;
        height: 294px;
        color: $white;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        text-align: left;
    }
    &__description-box {
        border-bottom: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        border-left: 1px solid #eeeeee;
        z-index: 3;
    }
    &__title {
        padding: 20px 24px 4px 24px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    &__subtitles {
        font-size: 16px;
        line-height: 1.85;
        color: $light-gray;
        margin: 4px 4px 20px 24px;
    }
    &__item:hover {
        box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
            0px 1px 1px 0px #0000001f;
        cursor: pointer;
    }
}
